.cabinet{
    @include res('margin-top', -223px);
    @include res('min-height', 900px);
    @include res('padding-bottom', 25px);
    position: relative;
    z-index: 5;
    @include media(576){
        margin-top: 0;
        @include resa('padding-bottom', 25px);
    }
    &__body{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include res('gap', 20px);
        @include media(576){
            padding-left: 0 !important;
            padding-right: 0 !important;
            max-width: 100% !important;
        }
    }
    &__sidebar{
        @include res('width', 280px);
        @include res('min-width', 280px);
        @include res('border-radius', 30px);
        filter: drop-shadow(0px 0px .5208333333vw rgba(2, 2, 2, 0.10));
        background: #fff;
        @include res('padding-top', 34px);
        @include res('padding-bottom', 34px);
        @include res('padding-left', 27px);
        @include res('padding-right', 27px);
        @include res('min-height', 835px);
        @include media(576){
            display: none;
        }
        &-title{
            color: rgba(29, 29, 29, 0.30);
            @include res('font-size', 26px);
            font-style: normal;
            font-weight: 800;
            line-height: 138.462%;
            @include res('margin-bottom', 25px);
        }
        &-list{
            display: flex;
            flex-direction: column;
            @include res('gap', 5px);
        }
        &-link{
            color: #000;
            @include res('font-size', 16px);
            font-style: normal;
            font-weight: 300;
            line-height: 150%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @include res('gap', 8px);
            @include res('margin-left', 28px);
            text-decoration: none;
            &.svg{
                margin-left: 0;
            }
            svg{
                @include res('width', 20px);
                @include res('height', 20px);
            }
            &.active{
                color: #325CFE;
                font-weight: 500;
            }
        }
    }
    &__title{
        color: #1D1D1D;
        @include res('font-size', 26px);
        font-style: normal;
        font-weight: 800;
        line-height: 138.462%;
        @include res('margin-bottom', 15px);
        @include media(576){
            @include resa('font-size', 22px);
            @include resa('margin-bottom', 15px);
        }
    }
    &__content{
        width: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        @include res('gap', 25px);
        @include media(576){
            @include resa('gap', 20px);
        }
    }
    &__item{
        @include res('border-radius', 30px);
        background: #FFF;
        box-shadow: 0px 0px .5208333333vw 0px rgba(2, 2, 2, 0.10);
        @include res('padding-top', 25px);
        @include res('padding-bottom', 50px);
        @include res('padding-left', 29px);
        @include res('padding-right', 29px);
        @include media(576){
            border-radius: 0;
            box-shadow: none;
            @include resa('padding-top', 20px);
            @include resa('padding-bottom', 20px);
            @include resa('padding-left', 15px);
            @include resa('padding-right', 15px);
        }
    }
    &__header{
        @include res('border-radius', 10px);
        background: #FFF;
        box-shadow: 0px 0px .5208333333vw 0px rgba(2, 2, 2, 0.10);
        @include res('padding-top', 10px);
        @include res('padding-bottom', 10px);
        @include res('padding-left', 22px);
        @include res('padding-right', 22px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include res('gap', 45px);
        @include res('margin-bottom', 28px);
        @include media(576){
            box-shadow: 0px 0px 2vw 0px rgba(2, 2, 2, 0.10);
            @include resa('border-radius', 10px);
            @include resa('padding-top', 10px);
            @include resa('padding-bottom', 10px);
            @include resa('padding-left', 15px);
            @include resa('padding-right', 15px);
            @include resa('column-gap', 20px);
            @include resa('margin-bottom', 20px);
            flex-wrap: wrap;
        }
        &-link{
            color: rgba(50, 92, 254, 0.5);
            @include res('font-size', 20px);
            font-style: normal;
            font-weight: 500;
            line-height: 180%;
            text-decoration-line: underline;
            @include media(576){
                @include resa('font-size', 14px);
            }
            &.active{
                color: #325CFE;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
    &__documents{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include res('gap', 30px);
        @include media(576){
            flex-direction: column;
            @include resa('gap', 20px);
        }
        &-content{
            @include res('width', 400px);
            display: flex;
            flex-wrap: wrap;
            @include res('column-gap', 20px);
            @include res('row-gap', 22px);
            @include media(576){
                width: 100%;
                @include resa('gap', 10px);
            }
        }
        &-doc{
            @include res('border-radius', 10px);
            background: #FFF;
            overflow: hidden;
            box-shadow: 0px 0px .5208333333vw 0px rgba(2, 2, 2, 0.10);
            @include res('padding-top', 14px);
            @include res('padding-left', 16px);
            @include res('padding-right', 16px);
            @include res('padding-bottom', 10px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include res('width', 190px);
            @include media(576){
                @include resa('border-radius', 10px);
                box-shadow: 0px 0px 2vw 0px rgba(2, 2, 2, 0.10);
                @include resa('padding-top', 14px);
                @include resa('padding-left', 10px);
                @include resa('padding-right', 10px);
                @include resa('padding-bottom', 10px);
                @include resa('width', 160px);
            }
            &-img{
                width: 100%;
                @include res('height', 190px);
                @include res('border-radius', 10px);
                @include res('margin-bottom', 10px);
                overflow: hidden;
                line-height: 0;
                @include media(576){
                    @include resa('height', 160px);
                    @include resa('border-radius', 10px);
                    @include resa('margin-bottom', 10px);
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &-btn{
                background: #325CFE;
                color: #fff;
                text-align: center;
                @include res('font-size', 12px);
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                @include res('height', 38px);
                display: flex;
                align-items: center;
                justify-content: center;
                @include res('padding-left', 10px);
                @include res('padding-right', 10px);
                @include res('border-radius', 8px);
                border: solid #325CFE;
                @include res('border-width', 1px);
                transition: 300ms ease-out;
                width: 100%;
                @include res('margin-bottom', 5px);
                transition: background 300ms ease-out;
                @include media(576){
                    @include resa('font-size', 12px);
                    @include resa('height', 35px);
                    @include resa('padding-left', 10px);
                    @include resa('padding-right', 10px);
                    @include resa('border-radius', 8px);
                    @include resa('border-width', 1px);
                    @include resa('margin-bottom', 5px);
                }
                &:hover{
                    background: #4b70fe;
                }
            }
            &-delete{
                color: rgba(50, 92, 254, 0.60);
                text-align: center;
                @include res('font-size', 12px);
                font-style: normal;
                font-weight: 500;
                line-height: 160%;
                text-decoration-line: underline;
                margin-left: auto;
                margin-right: auto;
                transition: color 300ms ease-out;
                @include media(576){
                    @include resa('font-size', 12px);
                }
                &:hover{
                    color: #325CFE;
                }
            }
        }
        &-chk{
            @include res('margin-bottom', 10px);
            @include res('width', 15px);
            @include res('height', 15px);
            @include res('border-radius', 4px);
            border: solid #325CFE;
            @include res('border-width', 1px);
            appearance: none;
            background: #FFF;
            position: relative; 
            cursor: pointer;
            @include media(576){
                @include resa('margin-bottom', 10px);
                @include resa('width', 15px);
                @include resa('height', 15px);
                @include resa('border-radius', 4px);
                @include resa('border-width', 1px);
            }
            &:checked::before{
                opacity: 1;
                visibility: visible;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../img/chk.svg') center / cover no-repeat;
                opacity: 0;
                visibility: hidden;
                transition: 100ms ease-out;
            }
        }
        &-info{
            @include res('width', 390px);
            @include media(576){
                width: 100%;
            }
        }
        &-title{
            color: #1D1D1D;
            @include res('font-size', 20px);
            font-style: normal;
            font-weight: 800;
            line-height: 130%;
            @include res('margin-bottom', 10px);
            @include media(576){
                @include resa('font-size', 18px);
                @include resa('margin-bottom', 10px);
            }
        }
        &-p{
            color: #000;
            @include res('font-size', 14px);
            font-style: normal;
            font-weight: 300;
            line-height: 128.571%;
            @include res('margin-bottom', 12px);
            @include media(576){
                @include resa('font-size', 14px);
                @include resa('margin-bottom', 12px);
            }
        }
        &-btn{
            color: #325CFE;
            text-align: center;
            @include res('font-size', 12px);
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            @include res('height', 38px);
            display: flex;
            align-items: center;
            justify-content: center;
            @include res('padding-left', 27px);
            @include res('padding-right', 27px);
            @include res('border-radius', 8px);
            border: solid #325CFE;
            @include res('border-width', 1px);
            transition: 300ms ease-out;
            @include res('margin-bottom', 24px);
            @include media(576){
                @include resa('font-size', 12px);
                @include resa('height', 38px);
                @include resa('padding-left', 27px);
                @include resa('padding-right', 27px);
                @include resa('border-radius', 8px);
                @include resa('border-width', 1px);
                @include resa('margin-bottom', 24px);
            }
            &:hover{
                background: #325CFE;
                color: #fff;
            }
        }
        &-subtitle{
            color: #1D1D1D;
            @include res('font-size', 20px);
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            @include res('margin-bottom', 10px);
            @include media(576){
                @include resa('font-size', 16px);
                @include resa('margin-bottom', 10px);
            }
        }
        &-table{
            @include res('border-radius', 10px);
            background: #FFF;
            overflow: hidden;
            box-shadow: 0px 0px .5208333333vw 0px rgba(2, 2, 2, 0.10);
            @include res('margin-bottom', 18px);
            @include media(576){
                @include resa('border-radius', 10px);
                box-shadow: 0px 0px 2vw 0px rgba(2, 2, 2, 0.10);
                @include resa('margin-bottom', 18px);
            }
            &-row{
                display: flex;
                justify-content: space-between;
                @include res('min-height', 40px);
                @include media(576){
                    @include resa('min-height', 30px);
                }
                &+.cabinet__documents-table-row{
                    border-top: solid rgba(37, 37, 37, 0.10);
                    @include res('border-width', 1px);
                    @include media(576){
                        @include resa('border-width', 1px);
                    }
                }
            }
            &-num{
                display: flex;
                align-items: center;
                justify-content: center;
                @include res('width', 38px);
                @include res('min-width', 38px);
                border-right: solid rgba(37, 37, 37, 0.10);
                @include res('border-width', 1px);
                color: rgba(0, 0, 0, 0.50);
                @include res('font-size', 14px);
                font-style: normal;
                font-weight: 500;
                line-height: 142.857%;
                text-align: center;
                @include media(576){
                    @include resa('width', 38px);
                    @include resa('min-width', 38px);
                    @include resa('border-width', 1px);
                    @include resa('font-size', 12px);
                }
            }
            &-title{
                color: #000;
                @include res('font-size', 14px);
                @include res('padding-left', 10px);
                @include res('padding-right', 10px);
                @include res('padding-top', 10px);
                @include res('padding-bottom', 10px);
                font-style: normal;
                font-weight: 500;
                line-height: 142.857%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1 1 auto;
                text-align: center;
                @include media(576){
                    @include resa('padding-top', 10px);
                    @include resa('padding-bottom', 10px);
                    @include resa('font-size', 12px);
                    @include resa('padding-left', 10px);
                    @include resa('padding-right', 10px);
                }
            }
            &-price{
                @include res('width', 116px);
                @include res('min-width', 116px);
                border-left: solid rgba(37, 37, 37, 0.10);
                @include res('border-width', 1px);
                color: #000;
                @include res('font-size', 14px);
                font-style: normal;
                font-weight: 300;
                line-height: 142.857%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                @include media(576){
                    @include resa('width', 116px);
                    @include resa('min-width', 116px);
                    @include resa('border-width', 1px);
                    @include resa('font-size', 14px);
                }
            }
        }
        &-buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include res('gap', 9px);
            @include res('margin-bottom', 33px);
            @include media(576){
                flex-direction: column;
                @include resa('gap', 10px);
                align-items: stretch;
                @include resa('margin-bottom', 33px);
            }
        }
        &-button{
            background: #325CFE;
            color: #fff;
            text-align: center;
            @include res('font-size', 12px);
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            @include res('height', 38px);
            display: flex;
            align-items: center;
            justify-content: center;
            @include res('padding-left', 50px);
            @include res('padding-right', 50px);
            @include res('border-radius', 8px);
            border: solid #325CFE;
            @include res('border-width', 1px);
            transition: background 300ms ease-out;
            @include media(576){
                @include resa('font-size', 12px);
                @include resa('height', 38px);
                @include resa('padding-left', 50px);
                @include resa('padding-right', 50px);
                @include resa('border-radius', 8px);
                @include resa('border-width', 1px);
            }
            &:hover{
                background: #4b70fe;
            }
        }
        &-input{
            color: #484848;
            text-align: center;
            @include res('font-size', 10px);
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            @include res('height', 38px);
            border: solid #325CFE;
            @include res('border-width', 1px);
            background: rgba(50, 92, 254, 0.21);
            @include res('border-radius', 8px);
            @include res('padding-left', 11px);
            @include res('padding-right', 11px);
            @include res('max-width', 107px);
            font-weight: 500;
            text-align: left;
            @include media(576){
                width: 100%;
                order: -1;
                @include resa('font-size', 12px);
                @include resa('height', 38px);
                @include resa('border-radius', 8px);
                @include resa('padding-left', 11px);
                @include resa('padding-right', 11px);
                max-width: 100%;
                @include resa('border-width', 1px);
            }
        }
        &-total{
            color: #1D1D1D;
            @include res('font-size', 18px);
            font-style: normal;
            font-weight: 700;
            line-height: 122.222%;
            @include media(576){
                @include resa('font-size', 18px);
            }
        }
        &-payment{
            display: flex;
            flex-wrap: wrap;
            @include res('gap', 10px);
            @include res('max-width', 231px);
            @include media(576){
                @include resa('max-width', 231px);
                @include resa('gap', 10px);
            }
            &-item{
                @include res('border-radius', 6px);
                line-height: 0;
                box-shadow: 0.15625vw 0.15625vw .3645833333vw 0px rgba(0, 0, 0, 0.15);
                overflow: hidden;
                @include res('width', 50px);
                @include media(576){
                    @include resa('border-radius', 6px);
                    box-shadow: 0.5vw 0.5vw 1.5vw 0px rgba(0, 0, 0, 0.15);
                    @include resa('width', 50px);
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &__top{
        border-bottom: solid rgba(37, 37, 37, 0.10);
        @include res('border-width', 1px);
        @include res('padding-bottom', 25px);
        @include res('margin-bottom', 22px);
        @include res('margin-left', -29px);
        @include res('margin-right', -29px);
        @include res('padding-left', 29px);
        @include res('padding-right', 29px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media(576){
            @include resa('border-width', 1px);
            @include resa('padding-bottom', 20px);
            @include resa('margin-bottom', 20px);
            @include resa('margin-left', -15px);
            @include resa('margin-right', -15px);
            @include resa('padding-left', 15px);
            @include resa('padding-right', 15px);
            flex-direction: column;
            align-items: flex-start;
            @include resa('gap', 10px);
        }
        &-title{
            color: #1D1D1D;
            @include res('font-size', 26px);
            font-style: normal;
            font-weight: 800;
            line-height: 138.462%;
            @include media(576){
                @include resa('font-size', 22px);
            }
        }
        &-right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @include res('gap', 7px);
            @include media(576){
                @include resa('gap', 7px);
            }
        }
        &-btn{
            color: #325CFE;
            text-align: center;
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            border: solid #325CFE;
            @include res('font-size', 12px);
            @include res('padding-left', 15px);
            @include res('padding-right', 15px);
            @include res('border-radius', 8px);
            @include res('border-width', 1px);
            @include res('min-height', 38px);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 300ms ease-out, color 300ms ease-out;
            @include media(576){
                @include resa('font-size', 12px);
                @include resa('padding-left', 15px);
                @include resa('padding-right', 15px);
                @include resa('border-radius', 8px);
                @include resa('border-width', 1px);
                @include resa('min-height', 38px);
            }
            &:hover{
                background: #325CFE;
                color: #fff;
            }
        }
        &-q{
            display: flex;
            align-items: center;
            justify-content: center;
            @include res('width', 26px);
            @include res('min-width', 26px);
            @include res('height', 26px);
            @include res('border-radius', 6px);
            color: rgba(255, 255, 255, 0.60);
            text-align: center;
            background: rgba(50, 92, 254, 0.50);
            @include res('font-size', 22px);
            font-style: normal;
            font-weight: 700;
            line-height: 128.333%;
            @include media(576){
                @include resa('width', 26px);
                @include resa('min-width', 26px);
                @include resa('height', 26px);
                @include resa('border-radius', 6px);
                @include resa('font-size', 22px);
            }
        }
    }
    &__docs{
        &-title{
            color: #1D1D1D;
            @include res('font-size', 20px);
            @include res('margin-bottom', 20px);
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            @include media(576){
                @include resa('font-size', 20px);
                @include resa('margin-bottom', 20px);
            }
            span{
                color: #325CFE;
                font-weight: 800;
            }
        }
        &-content{
            display: flex;
            flex-wrap: wrap;
            @include res('gap', 18px);
            @include res('padding-bottom', 38px);
            @include media(576){
                @include resa('gap', 18px);
                @include resa('padding-bottom', 20px);
            }
        }
        &-item{
            @include res('width', 150px);
            @include res('height', 182px);
            @include res('border-radius', 10px);
            line-height: 0;
            overflow: hidden;
            @include media(576){
                @include resa('width', 98px);
                @include resa('height', 130px);
                @include resa('border-radius', 10px);
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        &-bot{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @include res('gap', 27px);
            @include res('padding-top', 14px);
            @include res('padding-bottom', 14px);
            border-top: solid rgba(37, 37, 37, 0.10);
            border-bottom: solid rgba(37, 37, 37, 0.10);
            @include res('border-width', 1px);
            @include res('margin-left', -29px);
            @include res('margin-right', -29px);
            @include res('padding-left', 29px);
            @include res('padding-right', 29px);
            @include res('margin-bottom', 38px);
            @include media(576){
                @include resa('gap', 15px);
                @include resa('padding-top', 14px);
                @include resa('padding-bottom', 14px);
                @include resa('border-width', 1px);
                @include resa('margin-left', -15px);
                @include resa('margin-right', -15px);
                @include resa('padding-left', 15px);
                @include resa('padding-right', 15px);
                @include resa('margin-bottom', 20px);
            }
            &-btn{
                color: rgba(50, 92, 254, 0.50);
                @include res('font-size', 18px);
                font-style: normal;
                font-weight: 500;
                line-height: 213.889%;
                text-decoration: none;
                @include media(576){
                    @include resa('font-size', 14px);
                }
                &.active{
                    color: #325CFE;
                    font-weight: 700;
                }
            }
        }
        &-post{
            background: #FFF;
            box-shadow: 0px 0px .5208333333vw 0px rgba(2, 2, 2, 0.10);
            @include res('border-radius', 10px);
            @include res('padding-top', 10px);
            @include res('padding-bottom', 12px);
            @include res('padding-left', 20px);
            @include res('padding-right', 20px);
            width: max-content;
            display: flex;
            flex-direction: column;
            @include media(576){
                @include resa('border-radius', 10px);
                @include resa('padding-top', 10px);
                @include resa('padding-bottom', 12px);
                @include resa('padding-left', 15px);
                @include resa('padding-right', 15px);
            }
            &-link{
                color: #325CFE;
                text-align: center;
                @include res('font-size', 12px);
                @include res('margin-bottom', 4px);
                font-style: normal;
                font-weight: 500;
                line-height: 166.667%;
                text-decoration-line: underline;
                @include media(576){
                    @include resa('font-size', 12px);
                    @include resa('margin-bottom', 4px);
                }
            }
            &-img{
                @include res('width', 160px);
                @include res('height', 113px);
                @include res('margin-bottom', 6px);
                @include res('border-radius', 10px);
                overflow: hidden;
                @include media(576){
                    @include resa('width', 160px);
                    @include resa('height', 113px);
                    @include resa('margin-bottom', 6px);
                    @include resa('border-radius', 10px);
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &-btn{
                background: #325CFE;
                color: #fff;
                text-align: center;
                @include res('font-size', 12px);
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                @include res('height', 38px);
                display: flex;
                align-items: center;
                justify-content: center;
                @include res('padding-left', 10px);
                @include res('padding-right', 10px);
                @include res('border-radius', 8px);
                transition: 300ms ease-out;
                width: 100%;
                @include res('margin-bottom', 6px);
                transition: background 300ms ease-out;
                text-decoration: none;
                @include media(576){
                    @include resa('font-size', 12px);
                    @include resa('height', 35px);
                    @include resa('padding-left', 10px);
                    @include resa('padding-right', 10px);
                    @include resa('border-radius', 8px); 
                    @include resa('border-width', 1px);
                    @include resa('margin-bottom', 5px);
                }
                &:hover{
                    background: #4b70fe;
                }
            }
            &-download{
                color: #325CFE;
                text-align: center;
                @include res('font-size', 12px);
                @include res('margin-bottom', 4px);
                font-style: normal;
                font-weight: 500;
                line-height: 166.667%;
                text-decoration-line: underline;
                @include media(576){
                    @include resa('font-size', 12px);
                    @include resa('margin-bottom', 4px);
                }
            }
        }
    }
}

