.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include res('height', 68px);
    transition: background 300ms ease-out, height 300ms ease-out;
    @include media(576){
        @include resa('height', 45px);
    }
    @media (min-width: 577px){
        &.fixed{
            background: #fff;
            @include res('height', 60px);
            .header{
                &__nav{
                    box-shadow: none;
                }
                &__text{
                    display: none;
                }
                &__right{
                    display: none;
                }
                &__scroll{
                    display: flex;
                }
                &__link{
                    @include res('height', 25px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include res('font-size', 14px);
                    @include res('line-height', 22px);
                }
            }
        }
    }
    &__nav{
        @include res('border-radius', 15px);
        background: #fff;
        @include res('height', 68px);
        @include res('padding-left', 12px);
        @include res('padding-right', 30px);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @include media(576){
            @include resa('height', 45px);
            border-radius: 0;
            max-width: 100% !important;
            @include resa('padding-right', 15px);
            @include resa('padding-left', 15px);
        }
    }
    &__logo{
        @include res('min-width', 188px);
        @include res('width', 188px);
        @include res('height', 49px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(576){
            @include resa('width', 126px);
            @include resa('height', 33.3333333333px);
        }
        svg,img{
            width: 100%;
            height: 100%;
        }
    }
    &__mid{
        @include media(576){
            display: none;
        }
    }
    &__text{
        color: rgba(0, 0, 0, 0.50);
        @include res('font-size', 10px);
        font-family: Gilroy;
        font-style: normal;
        @include res('max-width', 633px);
        font-weight: 500;
        @include res('margin-bottom', 4px);
        b,span{
            @include res('font-size', 12px);
            @include res('line-height', 14px);
            font-weight: 700;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include res('gap', 15px);
    }
    &__link{
        color: #FFF;
        @include res('font-size', 12px);
        font-family: Gilroy;
        font-style: normal;
        font-weight: 400;
        @include res('line-height', 12px);
        @include res('padding-top', 4px);
        @include res('padding-bottom', 4px);
        @include res('padding-left', 10px);
        @include res('padding-right', 10px);
        @include res('border-radius', 5px);
        text-decoration: none;
        background: #325CFE;
        transition: background 300ms ease-out;
        &:hover{
            background: lighten($color: #325CFE, $amount: 5);
        }
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include media(576){
            display: none;
        }
        &-p{
            color: #1A1A1B;
            @include res('margin-top', -3px);
            @include res('font-size', 10px);
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            @include res('line-height', 22px);
        }
    }
    &__tel{
        color: #454545;
        @include res('font-size', 20px);
        font-family: Gilroy;
        font-style: normal;
        font-weight: 700;
        @include res('line-height', 24px);
        text-decoration-line: underline;
    }
    &__cabinet{
        color: #325CFE;
        @include res('font-size', 12px);
        font-family: Gilroy;
        font-style: normal;
        font-weight: 700;
        @include res('line-height', 12px);
        text-decoration: none;
        @include media(576){
            svg{
                @include resa('width', 25px);
                @include resa('height', 25px);
            }
        }
    }
    &__scroll{
        color: #325CFE;
        @include res('gap', 6px);
        @include res('height', 25px);
        @include res('border-radius', 5px);
        border: solid #325CFE;
        @include res('padding-left', 8px);
        @include res('padding-right', 8px);
        @include res('border-width', 1px);
        align-items: center;
        justify-content: center;
        @include res('font-size', 14px);
        font-style: normal;
        font-weight: 500;
        @include res('line-height', 22px);
        display: none;
        text-decoration: none;
        svg{
            @include res('width', 18px);
            @include res('height', 18px);
        }
    }
    &__mob{
        display: none;
        @include media(576){
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @include resa('gap', 12px);
        }
    }
    &__btn{
        display: none;
        @include media(576){
            display: block;
            @include resa('width', 25px);
            @include resa('height', 25px);
            display: flex;
            align-items: center;
            justify-content: center;
            @include resa('border-radius', 6px);
            background: linear-gradient(180deg, #325CFE 0%, #022197 99.99%, #1651E9 100%);
            svg{
                @include resa('width', 17px);
                @include resa('height', 12px);
            }
        }
    }
}