.intro{
    position: relative;
    isolation: isolate;
    @include res('padding-top', 84px);
    @include res('padding-bottom', 118px);
    @include media(576){
        @include resa('padding-top', 55px);
        @include resa('padding-bottom', 30px);
    }
    &__bg{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @include res('width', 1600px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        @include res('border-bottom-left-radius', 100px);
        @include res('border-bottom-right-radius', 100px);
        @include media(576){
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-sm{
            display: none;
            @include media(576){
                display: block;
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                @include resa('width', 360px);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &__breadcrumbs{
        @include res('min-height', 22px);
        @include media(576){
            @include resa('min-height', 15px);
            order: -3;
        }
    }
    &__body{
        position: relative;
        @include media(576){
            display: flex;
            flex-direction: column;
        }
    }
    &__video{
        border-radius: 2.6041666667vw .78125vw .78125vw 2.6041666667vw;
        border: dashed #325CFE;
        @include res('border-width', 1px);
        @include res('width', 283px);
        @include res('height', 84px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('padding-left', 15px);
        @include res('padding-right', 19px);
        @include res('gap', 8px);
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 0;
        @include media(576){
            position: relative;
            @include resa('margin-top', 30px);
            @include resa('gap', 11px);
            @include resa('width', 184px);
            @include resa('height', 55px);
            @include resa('padding-left', 11px);
            @include resa('padding-right', 12px);
            flex-direction: row-reverse;
            @include resa('border-width', 1px);
            border-radius: 2.7777777778vw 8.8888888889vw 8.8888888889vw 2.7777777778vw;
            span{
                @include resa('font-size', 10px);
                @include resa('line-height', 12px);
            }
            svg{
                @include resa('width', 37px);
                @include resa('min-width', 37px);
                @include resa('height', 37px);
            }
        }
        span{
            color: #FFF;
            @include res('font-size', 16px);
            font-style: normal;
            font-weight: 300;
            @include res('line-height', 22px);
            text-decoration: none;
        }
        svg{
            @include res('width', 57px);
            @include res('min-width', 57px);
            @include res('height', 57px);
        }
    }
    &__title{
        @include res('padding-top', 18px);
        @include res('max-width', 600px);
        color: #FFF;
        @include res('font-size', 40px);
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        @include res('line-height', 54px);
        @include res('margin-bottom', 11px);
        @include media(576){
            @include resa('padding-top', 18px);
            @include resa('font-size', 20px);
            @include resa('line-height', 26px);
            @include resa('max-width', 300px);
            @include resa('margin-bottom', 12px);
            order: -2;
        }
    }
    &__p{
        color: #B8B8B8;
        @include res('font-size', 16px);
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        @include res('line-height', 22px);
        @include res('max-width', 573px);
        @include res('margin-bottom', 38px);
        @include media(576){
            @include resa('font-size', 12px);
            @include resa('line-height', 16px);
            @include resa('max-width', 221px);
            margin-bottom: 0;
        }
    }
    &__row{
        display: flex;
        @include res('gap', 20px);
        @include media(576){
            order: -1;
        }
    }
    &__col{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include res('gap', 4px);
        @include media(576){
            @include resa('gap', 4px);
            @include resa('margin-bottom', 15px);
            &:nth-of-type(2){
                display: none;
            }
        }
    }
    &__btn{
        @include res('padding-top', 20px);
        @include res('padding-bottom', 20px);
        @include res('padding-left', 20px);
        @include res('padding-right', 20px);
        @include res('border-radius', 10px);
        @include res('height', 60px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        background: #325CFE;
        color: #FFF;
        @include res('font-size', 20px);
        font-family: Gilroy;
        font-style: normal;
        font-weight: 700;
        text-decoration: none;
        line-height: 120%;
        transition: background 300ms ease-out;
        @include media(576){
            @include resa('height', 38px);
            @include resa('font-size', 12px);
            @include resa('line-height', 34px);
            @include resa('border-radius', 6px);
            @include resa('width', 180px);
        }
        &:hover{
            background: lighten($color: #325CFE, $amount: 5);
        }
        &-p{
            color: #989898;
            text-align: center;
            @include res('font-size', 14px);
            font-style: normal;
            font-weight: 400;
            @include res('line-height', 16px);
            @include media(576){
                @include resa('font-size', 9px);
                @include resa('line-height', 10px);
            }
        }
    }
    &__cabinet{
        @include res('height', 60px);
        @include res('padding-left', 24px);
        @include res('padding-right', 24px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('gap', 8px);
        color: #FFF;
        @include res('font-size', 20px);
        font-style: normal;
        font-weight: 500;
        @include res('line-height', 22px);
        text-decoration: none;
        @include res('border-radius', 10px);
        border: solid #325CFE;
        @include res('border-width', 1px);
        svg{
            @include res('width', 25px);
            @include res('height', 25px);
        }
    }
}