.people{
    @include res('padding-bottom', 35px);
    @include media(575){
        @include resa('padding-bottom', 30px);
    }
    &__compets{
        .people{
            &__title{
                text-transform: uppercase;
                @include res('max-width', 750px);
                @include media(575){
                    max-width: 100%;
                }
            }
        }
    }
    &__publications{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background: url(../img/teachers-bg.png) center / cover no-repeat;
            right: 0;
            @include res('bottom', -97px);
            @include res('width', 1490px);
            @include res('height', 240px);
            @include res('border-top-left-radius', 30px);
            @include res('border-bottom-left-radius', 30px);
            @include media(575){
                width: 100%;
                @include resa('height', 100px);
                border-radius: 0;
            }
        }
        .people{
            &__title{
                text-transform: uppercase;
                &::before{
                    @include res('width', 1920px);
                    border-radius: 0;
                    @include res('height', 355px);
                    bottom: 0;
                    top: auto;
                    z-index: -1;
                    @include media(575){
                        @include resa('width', 360px);
                        @include resa('height', 120px);
                    }
                }
            }
            &__wrapper{
                @include res('max-width', 780px);
                width: 100%;
                position: relative;
                @include media(575){
                    max-width: 100%;
                }
                &::before{
                    content: '';
                    position: absolute;
                    @include res('width', 328px);
                    @include res('height', 512px);
                    background: url(../img/people-girl.png) center / cover no-repeat;
                    transform: translateX(100%);
                    @include res('right', -50px);
                    line-height: 0;
                    @include res('top', -159px);
                    @include media(575){
                        display: none;
                    }
                }
            }
            &__item{
                width: calc(50% - 0.521vw);
                @include media(575){
                    width: 100%;
                }
            }
        }
    }
    &__title{
        position: relative;
        @include res('padding-top', 58px);
        @include res('padding-bottom', 100px);
        color: #FFF;
        @include res('font-size', 34px);
        @include res('line-height', 54px);
        font-style: normal;
        font-weight: 800;
        @include res('max-width', 700px);
        width: 100%;
        @include res('margin-right', 87px);
        @include media(575){
            max-width: 100%;
            margin-right: 0;
            @include resa('font-size', 16px);
            @include resa('line-height', 20px);
            font-weight: 700;
            @include resa('padding-top', 20px);
            @include resa('padding-bottom', 40px);
        }
        span{
            color: #325CFE;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            @include res('right', 87px);
            @include res('left', -370px);
            height: 100%;
            @include res('width', 1470px);
            background: url('../img/teachers-bg.png') center / cover no-repeat;
            z-index: -1;
            @include res('border-top-right-radius', 30px);
            @include res('border-bottom-right-radius', 30px);
            @include media(575){
                @include resa('right', -15px);
                @include resa('left', -15px);
                width: calc(100% +  8.333vw);
                border-radius: 0;
            }
        }
    }
    &__wrapper{
        @include res('margin-top', -67px);
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include res('column-gap', 20px);
        @include res('row-gap', 25px);
        @include media(575){
            flex-direction: column;
            align-items: stretch;
            column-gap: 0;
            @include resa('row-gap', 15px);
            @include resa('margin-top', -25px);
        }
    }
    &__item{
        width: calc(33.333% - 0.694vw);
        background: #ffff;
        filter: drop-shadow(0px 0px 0.521vw rgba(2, 2, 2, 0.10));
        @include res('border-radius', 30px);
        @include res('padding-top', 23px);
        @include res('padding-right', 10px);
        @include res('padding-bottom', 44px);
        @include res('padding-left', 25px);
        @include media(575){
            width: 100%;
            filter: drop-shadow(0px 0px 2.778vw rgba(2, 2, 2, 0.10));
            @include resa('border-radius', 10px);
            @include resa('padding-top', 15px);
            @include resa('padding-right', 20px);
            @include resa('padding-bottom', 20px);
            @include resa('padding-left', 20px);
        }
    }
    &__top{
        display: flex;
        align-items: center;
        @include res('margin-bottom', 8px);
        @include media(575){
            @include resa('margin-bottom', 8px);
        }
    }
    &__img{
        @include res('border-radius', 15px);
        overflow: hidden;
        @include res('min-width', 65px);
        @include res('width', 65px);
        @include res('height', 65px);
        @include res('margin-right', 14px);
        @include media(575){
            @include resa('border-radius', 10px);
            @include resa('width', 45px);
            @include resa('min-width', 45px);
            @include resa('height', 45px);
            @include resa('margin-right', 10px);
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__subtitle{
        color: #000;
        @include res('font-size', 20px);
        @include res('line-height', 28px);
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        @include res('max-width', 242px);
        width: 100%;
        @include media(575){
            @include resa('font-size', 16px);
            @include resa('line-height', 22px);
            max-width: 100%;
        }
    }
    &__desc{
        color: #000;
        @include res('font-size', 18px);
        @include res('line-height', 26px);
        font-style: normal;
        font-weight: 300;
        @include media(575){
            @include resa('font-size', 14px);
            @include resa('line-height',18px);
        }
    }
}