mixin accept()
    .accept 
        .accept__body.container 
            h2.accept__title Принимаем к публикации:
            .accept__content 
                ul.accept__list 
                    li.accept__li авторские статьи и материалы
                    li.accept__li методические разработки
                    li.accept__li мастер-классы и проекты
                    li.accept__li сценарии проведения мероприятий
                    li.accept__li статьи написанные в соавторстве
                ul.accept__list 
                    li.accept__li обзоры полезных программ
                    li.accept__li тесты, викторины и олимпиады
                    li.accept__li дидактические материалы
                    li.accept__li технологические карты занятий
                    li.accept__li сценарии проведения праздников
                ul.accept__list 
                    li.accept__li презентации
                    li.accept__li планы мероприятий
                    li.accept__li учебные программы
                    li.accept__li учебные планы
                    li.accept__li конспекты занятий
            .accept__buttons 
                button(type="button").accept__btn Опубликовать в СМИ
                button(type="button").accept__btn Опубликовать в издании

mixin media-accept()
    .accept 
        .accept__body.container 
            h2.accept__title Принимаем к публикации:
            .accept__content 
                ul.accept__list 
                    li.accept__li авторские статьи и материалы
                    li.accept__li методические разработки
                    li.accept__li мастер-классы и проекты
                    li.accept__li сценарии проведения мероприятий
                    li.accept__li статьи написанные в соавторстве
                ul.accept__list 
                    li.accept__li обзоры полезных программ
                    li.accept__li тесты, викторины и олимпиады
                    li.accept__li дидактические материалы
                    li.accept__li технологические карты занятий
                    li.accept__li сценарии проведения праздников
                ul.accept__list 
                    li.accept__li презентации
                    li.accept__li планы мероприятий
                    li.accept__li учебные программы
                    li.accept__li учебные планы
                    li.accept__li конспекты занятий
            .accept__buttons 
                button(type="button").accept__btn Опубликовать в СМИ

mixin edition-accept()
    .accept.accept__edition
        .accept__body.container 
            h2.accept__title Принимаем к публикации:
            .accept__content 
                ul.accept__list 
                    li.accept__li Матетика
                    li.accept__li Физика
                    li.accept__li Химия
                    li.accept__li Информационные технологии
                    li.accept__li Технические науки
                ul.accept__list 
                    li.accept__li Биология
                    li.accept__li Медицина
                    li.accept__li Филология, лингвистика
                    li.accept__li Экономика и управление
                    li.accept__li Юриспруденция
                ul.accept__list 
                    li.accept__li Политология
                    li.accept__li Социология
                    li.accept__li Психология
                    li.accept__li Педагогика
                    li.accept__li Физическая культура
                ul.accept__list 
                    li.accept__li История
                    li.accept__li Культурология
                    li.accept__li Искусствоведение
                    li.accept__li Экология
                    li.accept__li Прочее
            .accept__buttons 
                button(type="button").accept__btn Опубликовать в СМИ