mixin accept()
    .accept 
        .accept__body.container 
            h2.accept__title Принимаем к публикации:
            .accept__content 
                ul.accept__list 
                    li.accept__li авторские статьи и материалы
                    li.accept__li методические разработки
                    li.accept__li мастер-классы и проекты
                    li.accept__li сценарии проведения мероприятий
                    li.accept__li статьи написанные в соавторстве
                ul.accept__list 
                    li.accept__li обзоры полезных программ
                    li.accept__li тесты, викторины и олимпиады
                    li.accept__li дидактические материалы
                    li.accept__li технологические карты занятий
                    li.accept__li сценарии проведения праздников
                ul.accept__list 
                    li.accept__li презентации
                    li.accept__li планы мероприятий
                    li.accept__li учебные программы
                    li.accept__li учебные планы
                    li.accept__li конспекты занятий
            .accept__buttons 
                button(type="button").accept__btn Опубликовать в СМИ
                button(type="button").accept__btn Опубликовать в издании