mixin advantages()
    .advantages#advantages 
        .advantages__body.container 
            .advantages__wrapper
                h2.advantages__title «Для Учителя» - международный педагогический портал
                p.advantages__p лицензия на осуществление образовательной деятельности №9757-л
                p.advantages__p свидетельство о регистрации СМИ №ЭЛ ФС 77-65391
            .advantages__content
                .advantages__item 
                    .advantages__top 
                        p.advantages__subtitle КУРСЫ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ
                        p.advantages__discount #[span 1700р] 990р
                    p.advantages__desc У нас вы найдете #[span более 3000] курсов, после прохождения которых, Вы получите официальный диплом установленного образца о #[span повышении квалификации] и приложение к нему. 
                    a(href="#!").advantages__link Смотреть курсы повышения квалификации → 
                .advantages__item
                    .advantages__top 
                        p.advantages__subtitle КУРСЫ ПРОФЕССИОНАЛЬНОЙ ПЕРЕПОДГОТОВКИ
                        p.advantages__discount #[span 5000р] 2990р
                    p.advantages__desc У нас вы найдете #[span более 3000] курсов, после прохождения которых, Вы получите официальный диплом установленного образца о #[span повышении квалификации] и приложение к нему. 
                    a(href="#!").advantages__link Смотреть курсы повышения квалификации → 
                .advantages__item 
                    .advantages__top 
                        p.advantages__subtitle ТВОРЧЕСКИЕ КОНКУРСЫ ДЛЯ ПЕДАГОГОВ И УЧАЩИХСЯ 
                    p.advantages__desc Участвуйте в #[span бесплатных творческих конкурсах] для педагогов и учащихся, и получите диплом в строгом соответствии с #[span  ФЗ “Об образовании” и ФГОС] в течение #[span 2-х часов.]
                    a(href="#!").advantages__link Смотреть курсы повышения квалификации → 
                .advantages__item 
                    .advantages__top 
                        p.advantages__subtitle КУРСЫ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ
                        p.advantages__discount #[span 1700р] 990р
                    p.advantages__desc У нас вы найдете #[span более 3000] курсов, после прохождения которых, Вы получите официальный диплом установленного образца о #[span повышении квалификации] и приложение к нему. 
                    a(href="#!").advantages__link Смотреть курсы повышения квалификации → 