mixin cabinetHeader()
    .cabinet__header 
        a(href="#!").cabinet__header-link.active Мои документы
        a(href="#!").cabinet__header-link Оформить документ
        a(href="#!").cabinet__header-link Инструкция