mixin category()
    .category 
        .category__body.container 
            p.category__subtitle #[span.bold АКЦИЯ:] Каждый #[span третий] диплом в подарок! Действует только до #[span 28 марта!]
            .category__content 
                h2.category__title Выберите категорию олимпиады
                .category__wrapper 
                    .category__item.normal 
                        p.category__p ОЛИМПИАДА ДЛЯ:
                        p.category__for Воспитателей
                        a(href="#!").category__link Смотреть список тем →
                    .category__item.sm 
                        p.category__p ОЛИМПИАДА ДЛЯ:
                        p.category__for Учителей
                        a(href="#!").category__link Смотреть список тем →
                    .category__item.bg 
                        p.category__p ОЛИМПИАДА ДЛЯ:
                        p.category__for дошкольников
                        a(href="#!").category__link Смотреть список тем →
                    .category__item.bg 
                        p.category__p ОЛИМПИАДА ДЛЯ:
                        p.category__for школьников
                        a(href="#!").category__link Смотреть список тем →
                    .category__item.normal
                        p.category__p ОЛИМПИАДА ДЛЯ:
                        p.category__for 1 класса
                        a(href="#!").category__link Смотреть список тем →
                    .category__item.normal 
                        p.category__p ОЛИМПИАДА ДЛЯ:
                        p.category__for 1 2 класса
                        a(href="#!").category__link Смотреть список тем →
                    .category__item.sm 
                        p.category__p ОЛИМПИАДА ДЛЯ:
                        p.category__for студентов
                        a(href="#!").category__link Смотреть список тем →
                    .category__item.sm 
                        p.category__p ОЛИМПИАДА ДЛЯ:
                        p.category__for ПРЕДМЕТАМ
                        a(href="#!").category__link Смотреть список тем →
                    .category__item.lg 
                        p.category__p ОЛИМПИАДА ДЛЯ:
                        p.category__for ДРУГИЕ ТЕМАТИКИ
                        a(href="#!").category__link Смотреть список тем →
                a(href="#!").category__a Посмотреть все категории → 