mixin documents()
    .documents 
        .documents__body.container 
            h2.documents__title ВЫШЛЕМ ВАМ ТАКИЕ ДОКУМЕНТЫ
            .documents__row 
                .documents__item
                    .documents__img 
                        img(src="@img/documents-1.png", alt="" draggable="false")
                    p.documents__subtitle Удостоверение о повышении квалификации
                .documents__item
                    .documents__img 
                        img(src="@img/documents-2.png", alt="" draggable="false")
                    p.documents__subtitle Удостоверение о повышении квалификации