mixin intro()
    section.intro#intro 
        .intro__bg 
            img(src="@img/intro-bg.png", alt="" draggable="false")
        .intro__body.container
            .intro__breadcrumbs
            h1.intro__title ПОВЫШЕНИЕ КВАЛИФИКАЦИИ И ПРОФЕССИОНАЛЬНАЯ ПЕРЕПОДГОТОВКА ПЕДАГОГОВ