mixin people()
    .people 
        .people__body.container     
            h2.people__title ОЛИМПИАДЫ НА НАШЕМ ПОТРАЛЕ ПРОШЛИ  БОЛЕЕ  #[span 300 000] ЧЕЛОВЕК:
            .people__wrapper 
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-1.svg", alt="" draggable="false")
                        p.people__subtitle Бесплатное участие
                    p.people__desc Участие в олимпиаде бесплатное. Вы оплачиваете изготовление диплома, только когда довольны результатом.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-2.svg", alt="" draggable="false")
                        p.people__subtitle Соответствие ФЗ и ФГОС
                    p.people__desc Олимпиады проводятся в строгом соответствии с ФЗ «Об образовании» и ФГОС. Сайт имеет лицензию СМИ.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-3.svg", alt="" draggable="false")
                        p.people__subtitle Дипломы участникам и победителям
                    p.people__desc В наших олимпиадах нет проигравших. Дипломы получают как победители, так и участники олимпиад.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-4.svg", alt="" draggable="false")
                        p.people__subtitle УДОБНАЯ ОПЛАТА ОНЛАЙН
                    p.people__desc Вы можете выбрать любой способ оплаты: банковской картой, с баланса сотового телефона, или по квитанции.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-5.svg", alt="" draggable="false")
                        p.people__subtitle Выбор номинаций и бланков ДИПЛОМОВ
                    p.people__desc Более 100 номинаций, разнообразие бланков дипломов и возможность подобрать каждому свой дизайн.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-6.svg", alt="" draggable="false")
                        p.people__subtitle ВСЕГДА ОТЗЫВЧИВАЯ ПОДДЕРЖКА
                    p.people__desc Поддержка клиентов работает без перерывов и выходных. В любую минуту мы помогаем Вам.

mixin compets-people()
    .people.people__compets 
        .people__body.container     
            h2.people__title Тысячи #[span педагогов] уже приняли участие в #[span конкурсах] на нашем портале
            .people__wrapper 
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-1.svg", alt="" draggable="false")
                        p.people__subtitle Бесплатное участие
                    p.people__desc Участие в олимпиаде бесплатное. Вы оплачиваете изготовление диплома, только когда довольны результатом.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-2.svg", alt="" draggable="false")
                        p.people__subtitle Соответствие ФЗ и ФГОС
                    p.people__desc Олимпиады проводятся в строгом соответствии с ФЗ «Об образовании» и ФГОС. Сайт имеет лицензию СМИ.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-3.svg", alt="" draggable="false")
                        p.people__subtitle Дипломы участникам и победителям
                    p.people__desc В наших олимпиадах нет проигравших. Дипломы получают как победители, так и участники олимпиад.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-4.svg", alt="" draggable="false")
                        p.people__subtitle УДОБНАЯ ОПЛАТА ОНЛАЙН
                    p.people__desc Вы можете выбрать любой способ оплаты: банковской картой, с баланса сотового телефона, или по квитанции.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-5.svg", alt="" draggable="false")
                        p.people__subtitle Выбор номинаций и бланков ДИПЛОМОВ
                    p.people__desc Более 100 номинаций, разнообразие бланков дипломов и возможность подобрать каждому свой дизайн.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-6.svg", alt="" draggable="false")
                        p.people__subtitle ВСЕГДА ОТЗЫВЧИВАЯ ПОДДЕРЖКА
                    p.people__desc Поддержка клиентов работает без перерывов и выходных. В любую минуту мы помогаем Вам.

mixin publications-people()
    .people.people__publications
        .people__body.container     
            h2.people__title Тысячи #[span педагогов] уже опубликовали свои #[span материалы] на нашем портале
            .people__wrapper 
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-1.svg", alt="" draggable="false")
                        p.people__subtitle помощь при аттестации
                    p.people__desc Участие в олимпиаде бесплатное. Вы оплачиваете изготовление диплома, только когда довольны результатом.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-2.svg", alt="" draggable="false")
                        p.people__subtitle Публикация в короткие сроки
                    p.people__desc Олимпиады проводятся в строгом соответствии с ФЗ «Об образовании» и ФГОС. Сайт имеет лицензию СМИ.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-4.svg", alt="" draggable="false")
                        p.people__subtitle Удобная форма отправки материала
                    p.people__desc Вы можете выбрать любой способ оплаты: банковской картой, с баланса сотового телефона, или по квитанции.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-7.svg", alt="" draggable="false")
                        p.people__subtitle Гарантируем высокое качество
                    p.people__desc Поддержка клиентов работает без перерывов и выходных. В любую минуту мы помогаем Вам.

mixin edition-people()
    .people.people__publications.people__edition
        .people__body.container     
            h2.people__title Тысячи #[span педагогов] уже опубликовали свои #[span материалы] на нашем портале
            .people__wrapper 
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-1.svg", alt="" draggable="false")
                        p.people__subtitle реальная помощь при аттестации
                    p.people__desc Сборнику присваиваются библиографические индексы. Публикация в нем имеет значительный вес при подготовке к аттестации. Учрежден редакционный совет.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/teachers-img-4.svg", alt="" draggable="false")
                        p.people__subtitle издание сборников в короткие сроки
                    p.people__desc За два года мы издали более 200  сборников. Книги печатаются в современных типогрфиях. Процесс печати книг занимает 2 дня.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-5.svg", alt="" draggable="false")
                        p.people__subtitle Удобная форма отправки материала
                    p.people__desc Заполните форму за 60 сек и мы сразу же оформим для вас свидетельство о публикации и справку о включении в сборник.
                .people__item 
                    .people__top 
                        .people__img 
                            img(src="@img/people-img-4.svg", alt="" draggable="false")
                        p.people__subtitle выгодная цена печати сборников
                    p.people__desc Стоимость печати составит всего 150р./А4.Доставка печатной версии книги 400 р. Пересылка заказной бандеролью уже включена в общую стоимость печати.