mixin reviews()
    .reviews 
        .reviews__body.container    
            h2.reviews__title Отзывы о работе учебного центра
            .reviews__slider 
                .reviews__swiper.swiper 
                    .reviews__swiper-wrapper.swiper-wrapper 
                        .reviews__slide.swiper-slide 
                            .reviews__item 
                                p.reviews__p Отзыв 1
                                .reviews__rates 
                                    .reviews__rate 
                                        img(src="@img/star.svg", alt="" draggable="false")