mixin samples()
    .samples 
        .samples__body.container 
            h2.samples__title Получите документ установленного #[br] образца #[span ЗА 4 простых] ШАГА:
            .samples__content 
                .samples__wrapper
                    .samples__row 
                        .samples__left 
                            p.samples__p 1 шаг
                            p.samples__subtitle Подаёте #[span заявку]
                        .samples__right 
                            p.samples__desc Выберите тематику курса, необходимый объём учебной программы, оплатите обучение и приступайте к урокам.
                    .samples__row 
                        .samples__left 
                            p.samples__p 2 шаг
                            p.samples__subtitle Проходите #[span обучение]
                        .samples__right 
                            p.samples__desc Наши педагоги всегда готовы прийти на помощь и оказать помощь в освоении материалов программы. Все наши слушатели успешно сдают аттестацию.
                    .samples__row 
                        .samples__left 
                            p.samples__p 3 шаг
                            p.samples__subtitle Этап #[span тестирования]
                        .samples__right 
                            p.samples__desc Изучив материал, вы сможете пройти итоговое тестирование и завершить выбранный Вами курс. Колличество попыток не ограничено.
                    .samples__row 
                        .samples__left 
                            p.samples__p 4 шаг
                            p.samples__subtitle Ждёте #[span документы]
                        .samples__right 
                            p.samples__desc После прохождение обучения Вы получите документы в электронном виде, а через 2 дня мы бесплатно отправим оригиналы почтой.
                button(type="button").samples__btn Подать заявку на курс
