mixin samples()
    .samples 
        .samples__body.container 
            h2.samples__title Получите документ установленного #[br] образца #[span ЗА 4 простых] ШАГА:
            .samples__content 
                .samples__wrapper
                    .samples__row 
                        .samples__left 
                            p.samples__p 1 шаг
                            p.samples__subtitle Подаёте #[span заявку]
                        .samples__right 
                            p.samples__desc Выберите тематику курса, необходимый объём учебной программы, оплатите обучение и приступайте к урокам.
                    .samples__row 
                        .samples__left 
                            p.samples__p 2 шаг
                            p.samples__subtitle Проходите #[span обучение]
                        .samples__right 
                            p.samples__desc Наши педагоги всегда готовы прийти на помощь и оказать помощь в освоении материалов программы. Все наши слушатели успешно сдают аттестацию.
                    .samples__row 
                        .samples__left 
                            p.samples__p 3 шаг
                            p.samples__subtitle Этап #[span тестирования]
                        .samples__right 
                            p.samples__desc Изучив материал, вы сможете пройти итоговое тестирование и завершить выбранный Вами курс. Колличество попыток не ограничено.
                    .samples__row 
                        .samples_ _left 
                            p.samples__p 4 шаг
                            p.samples__subtitle Ждёте #[span документы]
                        .samples__right 
                            p.samples__desc После прохождение обучения Вы получите документы в электронном виде, а через 2 дня мы бесплатно отправим оригиналы почтой.
                button(type="button").samples__btn Подать заявку на курс

mixin olympiads-samples()
    .samples.samples__olympiads
        .samples__body.container 
            h2.samples__title 3 #[span простых шага] для участия #[br] в олимпиаде и #[span получения диплома :]
            .samples__content 
                .samples__wrapper
                    .samples__row 
                        .samples__left 
                            p.samples__p 1 шаг
                            p.samples__subtitle Выбираете #[span тему]
                        .samples__right 
                            p.samples__txt Займет 5 мин
                            p.samples__desc Отвечаете на вопросы #[br] по выбранной вами теме
                    .samples__row 
                        .samples__left 
                            p.samples__p 2 шаг
                            p.samples__subtitle Заходите в #[span личный кабинет]
                        .samples__right
                            p.samples__txt Займет 1 мин 
                            p.samples__desc Вам не нужно регистрироваться #[br] в кабинете - просто укажите e-mail
                    .samples__row
                        .samples__left 
                            p.samples__p 3 шаг
                            p.samples__subtitle Получаете #[span диплом]
                        .samples__right.gray  
                            p.samples__txt Займет 1 мин
                            p.samples__desc Выбираете внешний вид диплома,  #[br] оформляете заказ
                button(type="button").samples__btn Выбрать тему олимпиады

mixin compets-samples()
    .samples.samples__olympiads
        .samples__body.container 
            h2.samples__title 3 #[span простых шага] для участия в КОНКУРСЕ и #[span получения диплома :]
            .samples__content 
                .samples__wrapper
                    .samples__row 
                        .samples__left 
                            p.samples__p 1 шаг
                            p.samples__subtitle Заполнить #[span заявку]
                        .samples__right 
                            p.samples__txt Займет 1 мин
                            p.samples__desc Заполняете все поля специльной #[br] формы, прикрепляете работу
                    .samples__row 
                        .samples__left 
                            p.samples__p Займет до 2 ч
                            p.samples__subtitle Ждёте #[span личный результат]
                        .samples__right
                            p.samples__txt Займет 1 мин 
                            p.samples__desc Мы сообщим Вам результат конкурса #[br] в течение 2-х часов на ваш e-mail
                    .samples__row
                        .samples__left 
                            p.samples__p 3 шаг
                            p.samples__subtitle Получаете #[span диплом]
                        .samples__right.gray  
                            p.samples__txt После прохождения конкурса
                            p.samples__desc Выбираете внешний вид диплома #[br] в личном кабинете
                button(type="button").samples__btn Выбрать тему олимпиады

mixin songs-samples()
    .samples.samples__olympiads
        .samples__body.container 
            h2.samples__title 3 #[span простых шага] для участия #[br] в КОНКУРСЕ и #[span получения диплома :]
            .samples__content 
                .samples__wrapper
                    .samples__row 
                        .samples__left 
                            p.samples__p 1 шаг
                            p.samples__subtitle Заполнить #[span заявку]
                        .samples__right 
                            p.samples__txt Займет 1 мин
                            p.samples__desc Заполняете все поля специльной #[br] формы, прикрепляете работу
                    .samples__row 
                        .samples__left 
                            p.samples__p Займет до 2 ч
                            p.samples__subtitle Ждёте #[span личный результат]
                        .samples__right
                            p.samples__txt Займет 1 мин 
                            p.samples__desc Мы сообщим Вам результат конкурса #[br] в течение 2-х часов на ваш e-mail
                    .samples__row
                        .samples__left 
                            p.samples__p 3 шаг
                            p.samples__subtitle Получаете #[span диплом]
                        .samples__right.gray  
                            p.samples__txt После прохождения конкурса
                            p.samples__desc Выбираете внешний вид диплома #[br] в личном кабинете
                button(type="button").samples__btn Выбрать тему олимпиады

