mixin teachers()
    .teachers 
        .teachers__body.container 
            h2.teachers__title НАМ ДОВЕРЯЮТ БОЛЕЕ  #[span 300 000] КВАЛИФИЦИРОВАННЫХ  ПЕДАГОГОВ И ВОСПИТАТЕЛЕЙ, ВЕДЬ У НАС:
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        p.teachers__desc Все дипломы оформлены в соответствии с требованиями аттестационной комиссии. Вы получите удостоверение установленного образца. 
                        p.teachers__desc Вносим данные о документах в Федеральный реестр сведений документов об обучении (ФИС ФРДО).
                    .teachers__image 
                        img(src="@img/teachers-img.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, 24/7
                        p.teachers__desc Мы набираем группы каждый день - не нужно ждать, пока наберется группа. Вы сможете начать обучение в день совершения оплаты. Возможно экспресс-обучение.  
                        p.teachers__desc Вам не нужно регистрироваться на платформе. Войдите в личный кабинет по e-mail и начинайте.
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle ДистанционноЕ ОБУЧЕНИЕ
                        p.teachers__desc Обучение проводится с использованием дистанционных технологий. В выдаваемых документах форма обучения не указываются.  
                        p.teachers__desc Обучайтесь в любое удобное время и получите документы не отличающиеся от документов при очном обучении.