mixin teachers()
    .teachers 
        .teachers__body.container 
            h2.teachers__title НАМ ДОВЕРЯЮТ БОЛЕЕ  #[span 300 000] КВАЛИФИЦИРОВАННЫХ  ПЕДАГОГОВ И ВОСПИТАТЕЛЕЙ, ВЕДЬ У НАС:
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        p.teachers__desc Все дипломы оформлены в соответствии с требованиями аттестационной комиссии. Вы получите удостоверение установленного образца. 
                        p.teachers__desc Вносим данные о документах в Федеральный реестр сведений документов об обучении (ФИС ФРДО).
                    .teachers__image 
                        img(src="@img/teachers-img.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, 24/7
                        p.teachers__desc Мы набираем группы каждый день - не нужно ждать, пока наберется группа. Вы сможете начать обучение в день совершения оплаты. Возможно экспресс-обучение.  
                        p.teachers__desc Вам не нужно регистрироваться на платформе. Войдите в личный кабинет по e-mail и начинайте.
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle ДистанционноЕ ОБУЧЕНИЕ
                        p.teachers__desc Обучение проводится с использованием дистанционных технологий. В выдаваемых документах форма обучения не указываются.  
                        p.teachers__desc Обучайтесь в любое удобное время и получите документы не отличающиеся от документов при очном обучении.


mixin ratesTeachers()
    .teachers.teachers__second 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        p.teachers__desc Все дипломы оформлены в соответствии с требованиями аттестационной комиссии. Вы получите удостоверение установленного образца. 
                        p.teachers__desc Вносим данные о документах в Федеральный реестр сведений документов об обучении (ФИС ФРДО).
                    .teachers__image 
                        img(src="@img/teachers-girl-2.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, 24/7
                        p.teachers__desc Мы набираем группы каждый день - не нужно ждать, пока наберется группа. Вы сможете начать обучение в день совершения оплаты. Возможно экспресс-обучение.  
                        p.teachers__desc Вам не нужно регистрироваться на платформе. Войдите в личный кабинет по e-mail и начинайте.
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle ДистанционноЕ ОБУЧЕНИЕ
                        p.teachers__desc Обучение проводится с использованием дистанционных технологий. В выдаваемых документах форма обучения не указываются.  
                        p.teachers__desc Обучайтесь в любое удобное время и получите документы не отличающиеся от документов при очном обучении.
            h2.teachers__title У НАС ВЫ НАЙДЕТЕ БОЛЕЕ  #[span 3 000] КУРСОВ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ ПО РАЗЛИЧНЫМ НАПРАВЛЕНИЯМ:


mixin olympiadsTeachers()
    .teachers.teachers__olympiads 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        p.teachers__desc Наш учебный центр входит в реестр аккредитованных организаций, предоставляющих услуги в сфере образования. Пройти олимпиаду и получить диплом можно онлайн. 
                        p.teachers__desc Дипломы признаются аттестационными комиссиями во всех регионах РФ. 
                    .teachers__image 
                        img(src="@img/olympiads-teacher.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, 24/7
                        p.teachers__desc Отвечая на вопросы, Вы сразу увидите результат: ответили правильно или неправильно. Вы можете сами выбрать внешний вид своего диплома. 
                        p.teachers__desc Вам не нужно регистрироваться на платформе. Войдите в личный кабинет по e-mail и начинайте.
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle Большой выбор олимпиад
                        p.teachers__desc Среднее время прохождения олимпиады всего лишь 5 минут. В нашем образовательном центре прошли олимпиады более 300 000 человек.
                        p.teachers__desc Мы предлагаем вам выбор свыше 100 олимпиад на самые различные темы и направления.

mixin ultimate-teachers()   
    .teachers.teachers__ultimate 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, быстро
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-4.svg", alt="" draggable="false")
                            p.teachers__subtitle Диплом получаете сразу
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle Бесплатное участие
                    .teachers__image 
                        img(src="@img/olympiads-teacher.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item 
                        h2.teachers__title Олимпиада "МДК «Безопасная среда для пациента и персонала»"
                        p.teachers__desc Укажите Ваш e-mail, чтобы мы могли выслать Вам отчет о прохождении тестирования.
                        form(action="").teachers__form
                            input(type="email" placeholder="Введите ваш e-mail" required).teachers__input
                            button(type="submit").teachers__btn Начать тестирование 
                p.teachers__p #[span.bold АКЦИЯ:] Каждый #[span третий] диплом в подарок! Действует только до #[span 28 марта]! 

mixin compets-teachers()   
    .teachers.teachers__compets 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, быстро
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-4.svg", alt="" draggable="false")
                            p.teachers__subtitle Диплом через 2 часа
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle Бесплатное участие
                    .teachers__image 
                        img(src="@img/olympiads-teacher.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item
                        h2.teachers__title Заполните форму участника творческого конкурса и #[span прикрепите] свою работу:
                        .teachers__compets-row
                            .teachers__left 
                                .teachers__flex 
                                    form(action="").teachers__form
                                        p.teachers__flex-p Вы получите диплом участника творческого конкурса через 2 часа.
                                        input(type="text" placeholder="Введите ваше имя и фамилию" required).teachers__input
                                        input(type="email" placeholder="Введите ваш e-mail" required).teachers__input
                                        input(type="text" placeholder="Введите название вашей работы" required).teachers__input
                                        .teachers__form-row
                                            button(type="button").teachers__button Выбрать номинацию
                                            p.teachers__form-p Вы выбрали: Животный мир
                                        .teachers__content 
                                            p.teachers__txt Категория конкурса:
                                            select.teachers__select 
                                                option(value="0").teachers__option Международный
                                                option(value="1").teachers__option Международный
                                                option(value="2").teachers__option Международный
                                                option(value="3").teachers__option Международный
                                        .teachers__texts 
                                            a(href="#!").teachers__link
                                                img(src="@img/clip.svg", alt="" draggable="false")
                                                | Прикрепить конкурсную работу
                                            p.teachers__info Сейчас файл не выбран
                                        button(type="submit").teachers__btn Отправить заявку 
                            .teachers__right    
                                .teachers__subtitles
                                    p.teachers__right-p Вы получите такой диплом 
                                    a(href="#!").teachers__right-link Создать диплом
                                .teachers__diploma
                                    img(src="@img/compets-img.png", alt="" draggable="false") 
                p.teachers__p #[span.bold АКЦИЯ:] Каждый #[span третий] диплом в подарок! Действует только до #[span 28 марта]! 

mixin songs-teachers()   
    .teachers.teachers__compets 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, быстро
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-4.svg", alt="" draggable="false")
                            p.teachers__subtitle Диплом через 2 часа
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle Бесплатное участие
                    .teachers__image 
                        img(src="@img/olympiads-teacher.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item
                        h2.teachers__title Заполните форму участника творческого конкурса автороской песни:
                        .teachers__compets-row
                            .teachers__left 
                                .teachers__flex 
                                    form(action="").teachers__form
                                        p.teachers__flex-p Вы получите диплом участника творческого конкурса через 2 часа.
                                        input(type="text" placeholder="Введите ваше имя и фамилию" required).teachers__input
                                        input(type="email" placeholder="Введите ваш e-mail" required).teachers__input
                                        input(type="text" placeholder="Введите название вашей работы" required).teachers__input
                                        .teachers__form-row
                                            button(type="button").teachers__button Выбрать номинацию
                                            p.teachers__form-p Вы выбрали: Молодые голоса
                                        .teachers__content 
                                            p.teachers__txt Категория конкурса:
                                            select.teachers__select 
                                                option(value="0").teachers__option Международный
                                                option(value="1").teachers__option Международный
                                                option(value="2").teachers__option Международный
                                                option(value="3").teachers__option Международный
                                        .teachers__texts 
                                            a(href="#!").teachers__link
                                                img(src="@img/clip.svg", alt="" draggable="false")
                                                | Прикрепить конкурсную работу
                                            p.teachers__info Сейчас файл не выбран
                                        button(type="submit").teachers__btn Отправить заявку 
                            .teachers__right    
                                .teachers__subtitles
                                    p.teachers__right-p Вы получите такой диплом 
                                    a(href="#!").teachers__right-link Создать диплом
                                .teachers__diploma
                                    img(src="@img/compets-img.png", alt="" draggable="false") 
                p.teachers__p #[span.bold АКЦИЯ:] Каждый #[span третий] диплом в подарок! Действует только до #[span 28 марта]!