mixin teachers()
    .teachers 
        .teachers__body.container 
            h2.teachers__title НАМ ДОВЕРЯЮТ БОЛЕЕ  #[span 300 000] КВАЛИФИЦИРОВАННЫХ  ПЕДАГОГОВ И ВОСПИТАТЕЛЕЙ, ВЕДЬ У НАС:
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        p.teachers__desc Все дипломы оформлены в соответствии с требованиями аттестационной комиссии. Вы получите удостоверение установленного образца. 
                        p.teachers__desc Вносим данные о документах в Федеральный реестр сведений документов об обучении (ФИС ФРДО).
                    .teachers__image 
                        img(src="@img/teachers-img.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, 24/7
                        p.teachers__desc Мы набираем группы каждый день - не нужно ждать, пока наберется группа. Вы сможете начать обучение в день совершения оплаты. Возможно экспресс-обучение.  
                        p.teachers__desc Вам не нужно регистрироваться на платформе. Войдите в личный кабинет по e-mail и начинайте.
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle ДистанционноЕ ОБУЧЕНИЕ
                        p.teachers__desc Обучение проводится с использованием дистанционных технологий. В выдаваемых документах форма обучения не указываются.  
                        p.teachers__desc Обучайтесь в любое удобное время и получите документы не отличающиеся от документов при очном обучении.


mixin ratesTeachers()
    .teachers.teachers__second 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        p.teachers__desc Все дипломы оформлены в соответствии с требованиями аттестационной комиссии. Вы получите удостоверение установленного образца. 
                        p.teachers__desc Вносим данные о документах в Федеральный реестр сведений документов об обучении (ФИС ФРДО).
                    .teachers__image 
                        img(src="@img/teachers-girl-2.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, 24/7
                        p.teachers__desc Мы набираем группы каждый день - не нужно ждать, пока наберется группа. Вы сможете начать обучение в день совершения оплаты. Возможно экспресс-обучение.  
                        p.teachers__desc Вам не нужно регистрироваться на платформе. Войдите в личный кабинет по e-mail и начинайте.
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle ДистанционноЕ ОБУЧЕНИЕ
                        p.teachers__desc Обучение проводится с использованием дистанционных технологий. В выдаваемых документах форма обучения не указываются.  
                        p.teachers__desc Обучайтесь в любое удобное время и получите документы не отличающиеся от документов при очном обучении.
            h2.teachers__title У НАС ВЫ НАЙДЕТЕ БОЛЕЕ  #[span 3 000] КУРСОВ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ ПО РАЗЛИЧНЫМ НАПРАВЛЕНИЯМ:


mixin olympiadsTeachers()
    .teachers.teachers__olympiads 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        p.teachers__desc Наш учебный центр входит в реестр аккредитованных организаций, предоставляющих услуги в сфере образования. Пройти олимпиаду и получить диплом можно онлайн. 
                        p.teachers__desc Дипломы признаются аттестационными комиссиями во всех регионах РФ. 
                    .teachers__image 
                        img(src="@img/olympiads-teacher.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, 24/7
                        p.teachers__desc Отвечая на вопросы, Вы сразу увидите результат: ответили правильно или неправильно. Вы можете сами выбрать внешний вид своего диплома. 
                        p.teachers__desc Вам не нужно регистрироваться на платформе. Войдите в личный кабинет по e-mail и начинайте.
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle Большой выбор олимпиад
                        p.teachers__desc Среднее время прохождения олимпиады всего лишь 5 минут. В нашем образовательном центре прошли олимпиады более 300 000 человек.
                        p.teachers__desc Мы предлагаем вам выбор свыше 100 олимпиад на самые различные темы и направления.

mixin ultimate-teachers()   
    .teachers.teachers__ultimate 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, быстро
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-4.svg", alt="" draggable="false")
                            p.teachers__subtitle Диплом получаете сразу
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle Бесплатное участие
                    .teachers__image 
                        img(src="@img/olympiads-teacher.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item 
                        h2.teachers__title Олимпиада "МДК «Безопасная среда для пациента и персонала»"
                        p.teachers__desc Укажите Ваш e-mail, чтобы мы могли выслать Вам отчет о прохождении тестирования.
                        form(action="").teachers__form
                            input(type="email" placeholder="Введите ваш e-mail" required).teachers__input
                            button(type="submit").teachers__btn Начать тестирование 
                p.teachers__p #[span.bold АКЦИЯ:] Каждый #[span третий] диплом в подарок! Действует только до #[span 28 марта]! 

mixin compets-teachers()   
    .teachers.teachers__compets 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, быстро
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-4.svg", alt="" draggable="false")
                            p.teachers__subtitle Диплом через 2 часа
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle Бесплатное участие
                    .teachers__image 
                        img(src="@img/olympiads-teacher.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item
                        h2.teachers__title Заполните форму участника творческого конкурса и #[span прикрепите] свою работу:
                        .teachers__compets-row
                            .teachers__left 
                                .teachers__flex 
                                    form(action="").teachers__form
                                        p.teachers__flex-p Вы получите диплом участника творческого конкурса через 2 часа.
                                        input(type="text" placeholder="Введите ваше имя и фамилию" required).teachers__input
                                        input(type="email" placeholder="Введите ваш e-mail" required).teachers__input
                                        input(type="text" placeholder="Введите название вашей работы" required).teachers__input
                                        .teachers__form-row
                                            button(type="button").teachers__button Выбрать номинацию
                                            p.teachers__form-p Вы выбрали: Животный мир
                                        .teachers__content 
                                            p.teachers__txt Категория конкурса:
                                            select.teachers__select 
                                                option(value="0").teachers__option Международный
                                                option(value="1").teachers__option Международный
                                                option(value="2").teachers__option Международный
                                                option(value="3").teachers__option Международный
                                        .teachers__texts 
                                            a(href="#!").teachers__link
                                                img(src="@img/clip.svg", alt="" draggable="false")
                                                | Прикрепить конкурсную работу
                                            p.teachers__info Сейчас файл не выбран
                                        button(type="submit").teachers__btn Отправить заявку 
                            .teachers__right    
                                .teachers__subtitles
                                    p.teachers__right-p Вы получите такой диплом 
                                    a(href="#!").teachers__right-link Создать диплом
                                .teachers__diploma
                                    img(src="@img/compets-img.png", alt="" draggable="false") 
                p.teachers__p #[span.bold АКЦИЯ:] Каждый #[span третий] диплом в подарок! Действует только до #[span 28 марта]! 

mixin songs-teachers()   
    .teachers.teachers__compets 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row
                    .teachers__image 
                        img(src="@img/olympiads-teacher.png", alt="" draggable="false") 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, быстро
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-4.svg", alt="" draggable="false")
                            p.teachers__subtitle Диплом через 2 часа
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle Бесплатное участие
                .teachers__row 
                    .teachers__item
                        h2.teachers__title Заполните форму участника творческого конкурса автороской песни:
                        .teachers__compets-row
                            .teachers__left 
                                .teachers__flex 
                                    form(action="").teachers__form
                                        p.teachers__flex-p Вы получите диплом участника творческого конкурса через 2 часа.
                                        input(type="text" placeholder="Введите ваше имя и фамилию" required).teachers__input
                                        input(type="email" placeholder="Введите ваш e-mail" required).teachers__input
                                        input(type="text" placeholder="Введите название вашей работы" required).teachers__input
                                        .teachers__form-row
                                            button(type="button").teachers__button Выбрать номинацию
                                            p.teachers__form-p Вы выбрали: Молодые голоса
                                        .teachers__content 
                                            p.teachers__txt Категория конкурса:
                                            select.teachers__select 
                                                option(value="0").teachers__option Международный
                                                option(value="1").teachers__option Международный
                                                option(value="2").teachers__option Международный
                                                option(value="3").teachers__option Международный
                                        .teachers__texts 
                                            a(href="#!").teachers__link
                                                img(src="@img/clip.svg", alt="" draggable="false")
                                                | Прикрепить конкурсную работу
                                            p.teachers__info Сейчас файл не выбран
                                        button(type="submit").teachers__btn Отправить заявку 
                            .teachers__right    
                                .teachers__subtitles
                                    p.teachers__right-p Вы получите такой диплом 
                                    a(href="#!").teachers__right-link Создать диплом
                                .teachers__diploma
                                    img(src="@img/compets-img.png", alt="" draggable="false") 
                p.teachers__p #[span.bold АКЦИЯ:] Каждый #[span третий] диплом в подарок! Действует только до #[span 28 марта]!

mixin publications-teachers()   
    .teachers.teachers__publications 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-tick.png", alt="" draggable="false")
                            p.teachers__subtitle публикуйте свои материалы в сми
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-tick.png", alt="" draggable="false")
                            p.teachers__subtitle публикуйте материалы в печатных изданиях
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-tick.png", alt="" draggable="false")
                            p.teachers__subtitle используем профессиональные печатные станки
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-tick.png", alt="" draggable="false")
                            p.teachers__subtitle получите печатный сборник через 4,5 дня
                    .teachers__image 
                        img(src="@img/olympiads-teacher.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item
                        h2.publications__title Таблица сравнения:
                        .publications__top 
                            .publications__item.first 
                                p.publications__subtitle Критерий ПУБЛИКАЦИИ
                            .publications__item.second 
                                p.publications__subtitle Публикация на сайте СМИ
                            .publications__item.third 
                                p.publications__subtitle Публикация в печатном сборнике «Педагогика и образование»
                            .publications__item.fourth 
                                p.publications__subtitle Публикация в печатном журнале «Наука XXI века».
                        .publications__content 
                            .publications__line 
                                .publications__item.first   
                                    p.publications__desc Размещение статьи на сайте СМИ
                                .publications__item.second   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                                .publications__item.third   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                                .publications__item.fourth   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                            .publications__line 
                                .publications__item.first   
                                    p.publications__desc Размещение материала в рецензируемом сборнике с ISSN
                                .publications__item.second   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-cross.svg", alt="" draggable="false")
                                        p.publications__p Нет
                                .publications__item.third   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                                .publications__item.fourth   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                            .publications__line 
                                .publications__item.first   
                                    p.publications__desc Получение свидетельства о публикации в электронном виде
                                .publications__item.second   
                                    .publications__row
                                        p.publications__text 100р
                                .publications__item.third   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                                .publications__item.fourth   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                            .publications__line 
                                .publications__item.first   
                                    p.publications__desc Получение свидетельства о публикации в электронном виде
                                .publications__item.second   
                                    .publications__row
                                        .publications__img 
                                            img(src="@img/publications-cross.svg", alt="" draggable="false")
                                        p.publications__p Нет
                                .publications__item.third   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                                .publications__item.fourth   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                            .publications__line 
                                .publications__item.first   
                                    p.publications__desc Получение распечатанного свидетельства о публикации
                                .publications__item.second   
                                    .publications__row
                                        .publications__img 
                                            img(src="@img/publications-cross.svg", alt="" draggable="false")
                                        p.publications__p Нет
                                .publications__item.third   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                                .publications__item.fourth   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                            .publications__line 
                                .publications__item.first   
                                    p.publications__desc Получение авторского экземпляра печатной версии сборника
                                .publications__item.second   
                                    .publications__row
                                        .publications__img 
                                            img(src="@img/publications-cross.svg", alt="" draggable="false")
                                        p.publications__p Нет
                                .publications__item.third   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                                .publications__item.fourth   
                                    .publications__row  
                                        .publications__img 
                                            img(src="@img/publications-tick.svg", alt="" draggable="false")
                                        p.publications__p Да
                        .publications__bottom 
                            .publications__item.first
                            .publications__item.second 
                                .publications__wrapper  
                                    p.publications__txt Опубликовать статью
                                    p.publications__info Бесплатная публикация
                            .publications__item.third 
                                .publications__wrapper  
                                    p.publications__txt Опубликовать статью
                                    p.publications__info Всего 150 р./А4
                            .publications__item.fourth 
                                .publications__wrapper  
                                    p.publications__txt Опубликовать статью
                                    p.publications__info Всего 150 р./А4

mixin media-teachers()
    .teachers.teachers__olympiads.teachers__media 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, быстро
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-4.svg", alt="" draggable="false")
                            p.teachers__subtitle Диплом через 2 часа
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle Бесплатное участие
                    .teachers__image 
                        img(src="@img/media-girl.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item
                        h2.teachers__title Для публикации Вашей статьи на потрале заполните форму:
                        .teachers__media-row
                            .teachers__left 
                                .teachers__flex 
                                    form(action="").teachers__form
                                        input(type="text" placeholder="Введите ваше имя, фамилию и отчество" required).teachers__input
                                        input(type="email" placeholder="Введите ваш e-mail" required).teachers__input
                                        input(type="text" placeholder="Введите тему вашей работы" required).teachers__input
                                        p.teachers__form-subtitle Прикрепите файл со статьей:
                                        p.teachers__form-info Максимальный размер файла: 20МБ
                                        .teachers__texts 
                                            a(href="#!").teachers__link
                                                img(src="@img/clip.svg", alt="" draggable="false")
                                                | Прикрепить конкурсную работу
                                            p.teachers__info Сейчас файл не выбран
                            .teachers__right    
                                .teachers__subtitles
                                    p.teachers__right-p Вы получите такое свидетельство
                                .teachers__diploma
                                    img(src="@img/patterns-img.png", alt="" draggable="false")
                        h2.teachers__title.sm Краткое описание Вашей статьи:
                        .teachers__form-img 
                            img(src="@img/form.png", alt="" draggable="false")
                        p.teachers__txt Символов: 0
                        .teachers__checkbox 
                            input(type="checkbox" id="checkbox1" required).teachers__checkbox-input
                            label(for="checkbox1").teachers__label Опубликовать на моей странице социальной сети 
                        button(type="submit").teachers__btn Опубликовать статью на сайте

mixin edition-teachers()
    .teachers.teachers__olympiads.teachers__media.teachers__edition 
        .teachers__body.container 
            .teachers__wrapper 
                .teachers__row 
                    .teachers__item 
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-1.png", alt="" draggable="false")
                            p.teachers__subtitle ОфициальнЫЕ ДОКУМЕНТЫ
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-2.png", alt="" draggable="false")
                            p.teachers__subtitle УДОБНО, ПРОСТО, быстро
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-4.svg", alt="" draggable="false")
                            p.teachers__subtitle сборник через 4,5 дня
                        .teachers__top 
                            .teachers__img 
                                img(src="@img/teachers-img-3.png", alt="" draggable="false")
                            p.teachers__subtitle более 7 000 публикаций
                    .teachers__image 
                        img(src="@img/media-girl.png", alt="" draggable="false")
                .teachers__row 
                    .teachers__item
                        h2.teachers__title Рассчитайте стоимость публикации #[br] Вашей статьи:
                        .teachers__media-row
                            .teachers__left 
                                .teachers__flex 
                                    form(action="").teachers__form
                                        p.teachers__form-subtitle.sm Прикрепите файл со статьей #[span (.doc, .docx, .odt):]
                                        p.teachers__form-info Лист А4/150 рублей, но не менее 300 рублей
                                        .teachers__texts 
                                            a(href="#!").teachers__link
                                                img(src="@img/clip.svg", alt="" draggable="false")
                                                | Прикрепить конкурсную работу
                                            p.teachers__info Сейчас файл не выбран
                                        p.teachers__form-subtitle.sm Требуется ли печатный сборник:
                                        p.teachers__form-info Стоимость каждого печатного издания - 400 рублей.
                                        .edition__row
                                            .edition__checkbox
                                                p.edition__checkbox-p.first Да
                                                .edition__checkbox-content
                                                    input(type="checkbox" checked).edition__checkbox-input
                                                p.edition__checkbox-p.sec Нет
                                            .edition__content 
                                                p.edition__desc Количество сборников:
                                                button(type="button").edition__button.minus -
                                                p.edition__num 1
                                                button(type="button").edition__button.plus +
                                        button(type="button").edition__btn Рассчитать стоимость
                            .teachers__right   
                                .teachers__diploma 
                                    img(src="@img/edition-diploma.png", alt="" draggable="false")
                        h2.teachers__title Для публикации Вашей статьи в печатном издании заполните форму:
                        p.teachers__right-p Получите книгу со своей статьей, свидетельство о публикации и справку: 
                        .teachers__media-row
                            .teachers__left 
                                .teachers__flex 
                                    form(action="").teachers__form
                                        select(name="teachersSelect" id="select1").edition__select
                                            option(value="0").edition__option Опубликовал  
                                            option(value="1").edition__option Опубликовал  
                                            option(value="2").edition__option Опубликовал  
                                            option(value="3").edition__option Опубликовал  
                                            option(value="4").edition__option Опубликовал  
                                        input(type="text" placeholder="Введите ФИО автора (соавторов)" required).teachers__input
                                        input(type="text" placeholder="Название учреждения, населенный пункт" required).teachers__input
                                        input(type="text" placeholder="Название Вашей работы" required).teachers__input
                                        select(name="teachersSelect" id="select2").edition__select
                                            option(value="0").edition__option Выберите тип материала
                                            option(value="1").edition__option Материал 
                                            option(value="2").edition__option Материал  
                                            option(value="3").edition__option Материал  
                                            option(value="4").edition__option Материал  
                                        input(type="number" placeholder="Укажите Ваш телефон" required).teachers__input
                                        p.teachers__right-p Мы вышлем Вам СМС уведомление о готовности сборника
                                        button(type="submit").teachers__btn Опубликовать статью на сайте
                            .teachers__right   
                                .teachers__diploma.second 
                                    img(src="@img/edition-diploma-2.png", alt="" draggable="false")
                                p.edition__right-subtitle Выберите внешний вид #[span.bold свидетельства ] #[br] #[span (можно выбрать справку по кнопке ниже)]
                                p.edition__right-desc Выберите режим предпросмотра:
                                .edition__right-row 
                                    p.edition__right-p Свидетельство
                                    .edition__checkbox-content.sm
                                        input(type="checkbox" checked).edition__checkbox-input.sm
                                    a(href="#!").edition__link Справка 