mixin templates()
    .templates  
        .templates__body.container 
            h2.templates__title более #[span 20 шаблонов] и #[span образцов] для ваших дипломов и свидетельств
            .templates__img 
                img(src="@img/templates-img.png", alt="" draggable="false")