mixin themes()
    .themes  
        .themes__body.container 
            h2.themes__title Выберите тему творческого конкурса
            .themes__content 
                ul.themes__list 
                    li.themes__li 
                        a(href="#!").themes__link Авторская песня 
                    li.themes__li 
                        a(href="#!").themes__link Актерское мастерство
                    li.themes__li 
                        a(href="#!").themes__link Безопасная среда
                    li.themes__li 
                        a(href="#!").themes__link Бессмертный полк
                    li.themes__li 
                        a(href="#!").themes__link Бессмертный полк 
                    li.themes__li 
                        a(href="#!").themes__link Внеурочная деятельность
                    li.themes__li 
                        a(href="#!").themes__link Вокальное и инструментальное творчество
                    li.themes__li 
                        a(href="#!").themes__link Волонтерское движение
                ul.themes__list 
                    li.themes__li 
                        a(href="#!").themes__link Военная техника
                    li.themes__li 
                        a(href="#!").themes__link Время года
                    li.themes__li 
                        a(href="#!").themes__link Готов к труду и обороне
                    li.themes__li 
                        a(href="#!").themes__link Декоративно прикладное творчество
                    li.themes__li 
                        a(href="#!").themes__link Декоративно прикладное творчество: аппликация
                    li.themes__li 
                        a(href="#!").themes__link Декоративно прикладное творчество: вышивание
                    li.themes__li 
                        a(href="#!").themes__link Декоративно прикладное творчество: вязание
                    li.themes__li 
                        a(href="#!").themes__link Декоративно прикладное творчество: выжигание
            a(href="#!").themes__a Посмотреть все темы конкурсов → 