mixin training()
    .training
        .training__body.container 
            .training__row 
                .training__wrapper
                    .training__images 
                        .training__image 
                            img(src="@img/training-img-1.png", alt="" draggable="false")
                        .training__image 
                            img(src="@img/training-img-2.png", alt="" draggable="false")
                    .training__item.disable-sm 
                        .training__item-img 
                            img(src="@img/training-img-3.png", alt="" draggable="false")
                        .training__item-right 
                            p.training__item-title Резидент Сколково
                            a(href="#!").training__item-link Выписка из реестра →  
                .training__info 
                    h2.training__title ЛИЦЕНЗИРОВАННЫЙ УЧЕБНЫЙ ПЕДАГОГИЧЕСКИЙ ЦЕНТР
                    p.training__desc Наш учебный центр входит в реестр аккредитованных организаций, предоставляющих услуги в сфере образования. Наши курсы проводятся в дистанционной форме. 
                    p.training__desc Мы имеем официальную лицензию на ведение образовательной деятельности, выданной Министерством образования и науки  РФ (лицензия на ведение образовательной деятельности №9757-л).
                    button(type="button").training__btn Заявка на консультацию
            .training__item.enable-sm 
                .training__item-img 
                    img(src="@img/training-img-3.png", alt="" draggable="false")
                .training__item-right 
                    p.training__item-title Резидент Сколково
                    a(href="#!").training__item-link Выписка из реестра →  
            .training__cards 
                .training__cards-left 
                    .training__card 
                        p.training__title ЧТО ДАЁТ ЛИЦЕНЗИЯ?
                        p.training__desc Все программы нашего учебного Центра построены на #[span рекомендательной базе РФ] и дополнены новейшим опытом практиков.
                        p.training__desc Все это #[span проверено и одобрено    ] Министерством образования Красноярского края.
                .training__cards-right 
                    .training__card 
                        p.training__title Физ. лица
                        p.training__desc С 2016 года обучение на курсах прошли более 80 000 человек.
                        a(href="#!").training__card-link Выбрать курс → 
                    .training__card 
                        p.training__title ЮР. лица
                        p.training__desc Исполнили свыше 1200 договоров и контрактов с юридическими лицами.
                        a(href="#!").training__card-link Получить контракт →
            .training__content 
                .training__img  
                    img(src="@img/training-img-4.png", alt="" draggable="false")
                .training__content-right 
                    .training__subtitle Вы можете получить #[span налоговый вычет] 13% от государства за СВОЕ обучение
                    a(href="#!").training__button Узнать подробности 

mixin olympiads-training()
    .training.training__olympiads
        .training__body.container 
            .training__row 
                .training__wrapper
                    .training__images 
                        .training__image 
                            img(src="@img/training-img-1.png", alt="" draggable="false")
                        .training__image 
                            img(src="@img/training-img-2.png", alt="" draggable="false")
                    .training__item.disable-sm 
                        .training__item-img 
                            img(src="@img/training-img-3.png", alt="" draggable="false")
                        .training__item-right 
                            p.training__item-title Резидент Сколково
                            a(href="#!").training__item-link Выписка из реестра →  
                .training__info 
                    h2.training__title ЛИЦЕНЗИРОВАННЫЙ УЧЕБНЫЙ ПЕДАГОГИЧЕСКИЙ ЦЕНТР
                    p.training__desc Наш учебный центр входит в реестр аккредитованных организаций, предоставляющих услуги в сфере образования. Наши курсы проводятся в дистанционной форме. 
                    p.training__desc Мы имеем официальную лицензию на ведение образовательной деятельности, выданной Министерством образования и науки  РФ (лицензия на ведение образовательной деятельности №9757-л).
                    button(type="button").training__btn Заявка на консультацию
            .training__item.enable-sm 
                .training__item-img 
                    img(src="@img/training-img-3.png", alt="" draggable="false")
                .training__item-right 
                    p.training__item-title Резидент Сколково
                    a(href="#!").training__item-link Выписка из реестра →  