doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body.olympiads 
        .wrapper  
            include components/header 
            +header 
            main.main 
                include components/intro 
                +edition-intro
                include components/teachers
                +edition-teachers
                include components/tutorial
                +tutorial
                include components/training
                +media-training
                include components/accept
                +edition-accept
                include components/people
                +edition-people
                include components/samples 
                +edition-samples
                include components/diplomas 
                +edition-diplomas
                include components/patterns
                +edition-patterns 
                include components/templates
                +templates 
                include components/reviews 
                +reviews 
                include components/faq 
                +faq 
            include components/footer 
            +footer
        script(src="js/app.min.js")