doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body.home 
        .wrapper 
            include components/header 
            +header 
            main.main 
                include components/intro 
                +introAdmin 
                section.cabinet 
                    .cabinet__body.container  
                        include components/cabinetSidebar 
                        +cabinetSidebar 
                        .cabinet__content
                            .cabinet__item  
                                include components/cabinetHeader 
                                +cabinetHeader  
                                h1.cabinet__title Дипломы к оплате: 
                                .cabinet__documents 
                                    .cabinet__documents-content 
                                        .cabinet__documents-doc 
                                            input(type="checkbox").cabinet__documents-chk 
                                            .cabinet__documents-doc-img 
                                                img(src="@img/document.png", alt="" draggable="false")
                                            button(type="button").cabinet__documents-doc-btn Получить бесплатно
                                            button(type="button").cabinet__documents-doc-btn Оплатить бонусами
                                            button(type='button').cabinet__documents-doc-delete Удалить
                                        .cabinet__documents-doc 
                                            input(type="checkbox").cabinet__documents-chk 
                                            .cabinet__documents-doc-img 
                                                img(src="@img/document.png", alt="" draggable="false")
                                            button(type="button").cabinet__documents-doc-btn Получить бесплатно
                                            button(type="button").cabinet__documents-doc-btn Оплатить бонусами
                                            button(type='button').cabinet__documents-doc-delete Удалить
                                        .cabinet__documents-doc 
                                            input(type="checkbox").cabinet__documents-chk 
                                            .cabinet__documents-doc-img 
                                                img(src="@img/document.png", alt="" draggable="false")
                                            button(type="button").cabinet__documents-doc-btn Получить бесплатно
                                            button(type="button").cabinet__documents-doc-btn Оплатить бонусами
                                            button(type='button').cabinet__documents-doc-delete Удалить
                                        .cabinet__documents-doc 
                                            input(type="checkbox").cabinet__documents-chk 
                                            .cabinet__documents-doc-img 
                                                img(src="@img/document.png", alt="" draggable="false")
                                            button(type="button").cabinet__documents-doc-btn Получить бесплатно
                                            button(type="button").cabinet__documents-doc-btn Оплатить бонусами
                                            button(type='button').cabinet__documents-doc-delete Удалить
                                    .cabinet__documents-info
                                        h2.cabinet__documents-title Поздравляем! Вы создали 1 документ и участвуете в акции "Третий документ в заказе - в подарок"!
                                        p.cabinet__documents-p Создайте еще один документ и получите диплом в подарок.
                                        button(type='button').cabinet__documents-btn Создать документ
                                        p.cabinet__documents-subtitle Ваш заказ на текущий момент:
                                        .cabinet__documents-table 
                                            .cabinet__documents-table-row 
                                                .cabinet__documents-table-num 1.
                                                .cabinet__documents-table-title Диплом № 4435049
                                                .cabinet__documents-table-price 140 ₽
                                            .cabinet__documents-table-row 
                                                .cabinet__documents-table-num 2.
                                                .cabinet__documents-table-title Диплом № 4766668
                                                .cabinet__documents-table-price 140 ₽
                                            .cabinet__documents-table-row 
                                                .cabinet__documents-table-num 3.
                                                .cabinet__documents-table-title Диплом № 4837830
                                                .cabinet__documents-table-price 0 ₽ (акция)
                                            .cabinet__documents-table-row 
                                                .cabinet__documents-table-num 4.
                                                .cabinet__documents-table-title Диплом № 4837833
                                                .cabinet__documents-table-price 140 ₽
                                        .cabinet__documents-buttons 
                                            button(type="button").cabinet__documents-button Оплатить
                                            input(type="text" placeholder="Ввести промокод").cabinet__documents-input
                                            p.cabinet__documents-total Итого: 420 ₽
                                        p.cabinet__documents-p Можно выбрать удобный способ оплаты:
                                        .cabinet__documents-payment 
                                            .cabinet__documents-payment-item 
                                                img(src="@img/visa.png", alt="" draggable="false") 
                                            .cabinet__documents-payment-item 
                                                img(src="@img/mastercard.png", alt="" draggable="false") 
                                            .cabinet__documents-payment-item 
                                                img(src="@img/sbp.png", alt="" draggable="false") 
                                            .cabinet__documents-payment-item 
                                                img(src="@img/mir.png", alt="" draggable="false") 
                                            .cabinet__documents-payment-item 
                                                img(src="@img/umoney.png", alt="" draggable="false") 
                                            .cabinet__documents-payment-item 
                                                img(src="@img/maestro.png", alt="" draggable="false") 
                                            .cabinet__documents-payment-item 
                                                img(src="@img/alphabank.png", alt="" draggable="false") 
                                            .cabinet__documents-payment-item 
                                                img(src="@img/nalichka.png", alt="" draggable="false") 
            include components/footer 
            +footer
        script(src="js/app.min.js") 